@import 'reset.css';

/* Allow CSS re-alignment from Admin panel */

.info.text-box.img-left {
	order: 2;
}

.info.img-box.img-left {
	order: 1;
}

.info.text-box.img-right {
	order: 1;
}

.info.img-box.img-right {
	order: 2;
}


/***** Add Site's Typography and colors as needed *****/

html,button,input,select,textarea {
  font-family:"Roboto",sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  color: #19345e; 
  font-family:"Roboto",sans-serif;
  line-height:1.1;
  margin-top:0;
  margin-bottom:.3em;
}
  
h1 {
  font-size:36px;
  color: #fff;
}

h2 {
  font-size: 20px; 
  text-align: left;
  margin: 15px 0;
}

h2.white {
  color: #fff;
}

h3 {
  font-size:18px;
  font-weight: 600;
}

h4 {
  font-size:20px
} 

h5 {
  font-size:16px
}

a {
  text-decoration:none;
  color:inherit;
  transition:color .3s;
  outline:none;
}

p+h2,p+h3,p+h4,p+h5{margin-top:1.5em;}
p,ul,ol{line-height:1.6;color:#6c7684;font-size:14px}
p a{color:#a7b495}p a:hover{color: #657750}
.bold{font-weight:bold}

em {
	font-style: italic;
}


/***** Page layout and elements ******************/
/*************************************************/


/* Reuseable class - Flex sections */

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header, 
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px 0;
}

.solid-color-background.sticky-header {
	background-color: #ccd7e0;
}

.sticky-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.smile-gallery {
	padding: 15px;
}

.sticky-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.wide-container {
	max-width: 1100px;
	margin: 0 auto;
  padding: 15px 0;
}

.ds-row {
	border: 1px dotted #1d1d1d;
	border-left: none;
	border-right: none;
	max-width: 1200px;
	padding: 30px 0;
	height: auto;
	margin: 0 auto 70px auto;
	width: 90%;
}

.vertically-center {
	align-items: center;
}

.centered {
	text-align: center;
}

.no-padding {
  padding: 0;
}

ul {
  list-style: none;
  text-indent: 5px;
  margin: 0 0 10px 0;
}

li {
  margin: 0 0 10px 15px;
}

li:before {
	color: #8fc3ea;
	content: "\2713"; /* Checkmark */
	font-weight: 600;
	padding: 0 10px 0 0;
}

p { 
  margin: 0 0 10px 0;
}

i {
  margin-right: 3px;
}

/* Default Blue background */

.solid-color-background {
  background-color: rgba(0,62,110,0.2); 
}

/* Grey background */

.grey-background {
  background-color: #efefef;
}

/* Header */

#logo {
  margin: 0 0 0 30px;
  width: 280px;
}

#logo img {
	width: 100%;
}

.btn {
  box-sizing: border-box;
  margin: 15px 10px 25px 0;
  line-height: 1em;
  display: inline-block;
}

.cta-buttons {
  text-align: right;
}

.btn--call-now,
.btn--schedule-apt,
.btn--read-more {
  background-color: #19345e; 
  border: 2px solid #19345e;
  border-radius: 3px;
  color: #fff;
  padding: 8px 10px;
  word-break: keep-all;
  transition: background-color .2s;
}

.btn--call-now:hover,
.btn--schedule-apt:hover,
.btn--read-more:hover {
  background-color: #fff;
  color: #19345e;
  border: 2px solid #fff;
}

.rotated {
  transform: rotate(135deg);
}

/* Hero section */

.hero {
  background: url('./images/implants-couple1c.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 700px;
  position: relative;
  z-index: -1; /* Don't interfere with the buttons when the header is position: fixed */
}

.sticky-header-hero {
	margin-top: 99px;
	
}

.hero p {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size:50px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
}

/* Headline section */

.headline h1 {
  margin: 20px 0 20px 10px;
  text-align: center; 
}

/* Info section */

.info {
  box-sizing: border-box;
  width: 50%;
  padding: 15px;
}

.img-box {
  text-align: center;
  margin-top: 30px;
  min-height: 250px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.info .btn {
  margin-top: 35px;
}

.img--info {
	display: none;
  max-width: 100%;
  border: 3px #fff;
  box-shadow: 2px 1px 1px rgba(70, 70, 70, 0.445);
  margin: 5% 0 0 0;
}

#section-1-copy,
#section-3-copy {
  order: 1;
}

#section-1-img,
#section-3-img {
  order: 2;
}

.img-container img {
  float: left;
}

.img-box iframe {
	width: 100%;
	height: 315;
}

/* FAQ section */

#faqs {
	padding-top: 15px;
}

#faqs,
#faqs h2 {
	text-align: center;
}

#faqs h2:before {
	display:inline-block;
	content: url('./images/faq-icon.png');
	margin-right: 10px;
	vertical-align: text-top;
}

.faq {
	background-color: #ececec;
	box-sizing: border-box;
	display: inline-block;
	padding: 10px;
	text-align: left;
	vertical-align: top;
	width: 32%;
	box-shadow: 0 0 1px #8a8a8a;
	margin: 2px;
}

.faq img {
	width: 50px;
	margin: 0 auto;
}

.faq h3 {
	margin: 15px auto;
	text-align: center;
	width: 80%;
}

.faq h3:before {
  display: block;
  content: url(./images/i-icon.png);
  margin-bottom: 10px;
  vertical-align: middle;
  text-align: center;
}

/* About section */

h2#location {
  padding: 35px 10px;
}

img#icoi-logo {
  width: 150px;
  margin: 0 auto;
}

h3#experience {
  margin: 25px 0 15px 0;
}

/* Testimonials */

#testimonials {
  padding: 0 10px;
}

.testimonial-person-info {
	width: 180px;
	margin: 0 auto;
	text-align: center;
}

.testimonial-person-info h3 {
  margin: 10px 0 0 0;
}

.img--testimonial {
	width: 60px;
	height: 60px;
  border-radius: 100%;
}

/* Video */

h2#video-title {
  padding: 20px 0 0 0;
}

.video iframe {
  margin: 0 auto;
  max-width: 900px;
  /* height: 500px; Style height here if needed */
  padding: 10px;
}

/* Google Reviews */

.google-logo {
	width: 70px;
	margin: 0 0 0 10px;
}

.google-stars {
	width: 180px; 
	margin: 8px auto;
	text-align: center;
}

.google-images {
	text-align: center;
}

h3.review-name {
	text-align: center;
	margin: 10px 0;
}

h3.review-name a {
	text-decoration: none;
}

p.five-stars {
	font-size: 14px;
	text-align: center;
}

a > img {
	margin: 0 auto;
}

/* Payment & Insurance section */

#payment {
	background-color: #ececec;
	box-shadow: 0 0 1px #8a8a8a;
	width: 75%;
	margin: 0 auto;
}

#payment h2 {
	text-align: center;
	font-weight: 600;
}

/* Final call to action area before location */

h2#cta {
  padding: 20px 10px 0 10px;
  width: 50%;
}

/* Our location & hours section */

h2#location {
  margin: 0;
}

#google-map-container iframe {
  width: 400px;
  height: 400px;
}

#contact-info {
  width: 35%;
}

#contact-info p {
  font-weight: 600;
}

#hours {
  width: 15%;
}

.contact-column p {
  color: #000;
  font-size: 14px;
  margin: 0;
}

dl dt {
  font-weight: 600;
  margin: 12px 0 5px 0;
}

.footer-phone {
	color: #000;
}

/* Video Testimonials */

.video-testimonials h2 {
	text-align: center;
}

.video-testimonials {
	padding: 40px 0;
}

.video-testimonials .container {
	text-align: center;
	max-width: 1200px;
}

.video-column, .third-column {
	width: 30%;
	margin: 0 6px;
	display: inline-block;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 0 6px;
}

.video-wrapper iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Three Columns */

.three-columns {
	text-align: center;
}

.three-columns h2 {
	text-align: center;
}

.three-columns .container {
	max-width: 1200px;
}

.third-column {
	text-align: left;
	padding: 0 10px;
	vertical-align: top;
}

.third-column h3 {
	text-align: center;
	margin-bottom: 24px;
}


/* Custom Gallery */

.office-thumb.plus-parent.custom-gallery-thumb {
	width: 82px;
	height: 82px;
	background-size: cover;
	background-position: center center;
}

.office-tour h2, .custom-gallery h2{
	text-align: center;
}

/* Mobile styles */

@media (max-width: 900px) {
	.faq {
	  width: 49%;
  }
}

@media (max-width: 760px) {
  .headline h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .flex {
    flex-direction: column;
  }

  #logo,
  .cta-buttons {
    margin: 0 auto;
    text-align: center;
  }
  
  .sticky-header-hero {
	  margin-top: 0;
  }

  .hero p {
    top: 40%;
  }

  .info,
  .contact-column,
  #contact-info,
  #hours {
    width: 100%;
  }
  
  .img-box {
	  background-image: none !important;
  }
  
  .img--info {
	  display: block;
	  margin: 0 auto;
  }

  #hours > h3 {
    margin-top: 15px;
  }

  .info .btn,
  .contact-column {
    text-align: center;
  }

  #section-1-copy,
  #section-3-copy {
    order: 2;
  }
  
  #section-1-img,
  #section-3-img {
    order: 1;
  }

  #logo {
    margin-bottom: 15px;
  }

  #google-map-container iframe {
    width: 100%;
  }

  .video-column, .third-column {
    width: 100%; 
    display: block;
  }

  .third-column {
	  padding: 0 40px;
	  margin-bottom: 40px;
  }
	
	.video-column h3 {
    margin-top: 20px;
  }
	
	.faq {
		width: 95%;
		display: block;
		margin: 6px auto;
	}
	
	#faqs h2:before {
		display: block;
		margin-bottom: 15px;
	}
	
	.faq h3 {
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 480px) {
	.container iframe {
		width: 100%;
		margin: 12px auto;
	}
}

/* Office Tour DS-1 Module */

/* thumb slider */
.slick-office-thumbs{ border-bottom: 1px solid #eceff4; margin-bottom: 40px; padding-bottom: 30px;}
	.office-thumb{margin: 10px;cursor: pointer; background-color:#000; display: none;}
	  .office-thumb img{width: 100%;height: 100%;opacity: .4;}
	  .office-thumb.slick-center img{opacity: 1;}
	
	.slick-office-thumbs .slick-dots { margin-top: 30px;}

/* images slider */	
.slick-office-images img {margin: 0 auto; width:auto; height: auto; max-width: 540px; max-height: 540px;}
	
	
/* Media Queries */
@media all and (max-width: 600px) {
  
  .slick-office-thumbs{margin-bottom: 20px;padding-bottom: 10px;}
    .office-thumb{margin: 6px;}
  .slick-office-images img{width: 100%;height: auto;max-height: none;max-width: none;}
  
}		

@media all and (max-width: 600px) {
  
  .office-thumb{margin: 4px;}
  
}

/* plus overlay */
.plus-parent{position: relative;display: block;}

.plus-parent:before{content:'';position: absolute;top:0;right:0;bottom:0;left:0;background-color: rgba(143, 195, 234, 0);transition:background .3s;}
.plus-parent:hover:before{background-color: rgba(143, 195, 234, 0.8);}

.plus-parent:after{content:'\002b';font-family: "Ionicons"; transform: rotate(90deg);width:80px;height:80px;line-height:80px;transition:transform .6s;font-size: 80px;color: #fff;opacity: 0;top: 50%;left: 50%;margin: -40px 0 0 -40px;text-align: center;display: block;position: absolute;}
.plus-parent:hover:after{transform: rotate(0);opacity: 1;}

/* Slick, as provided by slick developer */
.slick-slider{position: relative;display: block;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y; touch-action: pan-y;-webkit-tap-highlight-color: transparent;text-align: center;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;min-height: 1px;height: 100%;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block !important;outline: none;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block; height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

/* slick styles for ds1 */
.slick-dots{padding: 20px;border-radius: 3px;display: inline-block;border: 1px solid rgba(0, 0, 0, .1);list-style:none;box-shadow: 0 0 13px rgba(0,0,0,0.03);margin: 40px auto 0;transition:transform .3s ease-in-out;}
.slick-dots:hover{transform: scale(1.03,1.03);box-shadow: 0 0 13px rgba(0,0,0,0.06);}
  .slick-dots li{display: block;float: left;}
    .slick-dots li button{width: 14px;height: 14px;border-radius: 50%;font-size: 0;color: transparent;background-color: $white;border:2px solid $accent;opacity: .35;padding: 0;display: block;margin: 0 5px;}
    .slick-dots li.slick-active button{background-color: #8fc3ea;opacity: 1;}

/* Magnific Popup */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before,
  .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }


/* Smile Gallery Styles v2 */
.smile-gallery-cont{display:block;margin:0 auto;max-width:800px}.smile-gallery-slide{*zoom:1;margin:0 auto;text-align:left}.smile-gallery-slide:before,.smile-gallery-slide:after{content:" ";display:table}.smile-gallery-slide:after{clear:both}.smile-gallery-slide h3{color:#6c7684;font-size:14px;line-height:1.25;padding-left:20px;position:relative;text-transform:uppercase;clear:both;text-align:left}.smile-gallery-slide h3:before{background-color:#003e6e;border-radius:50%;content:"";display:block;height:14px;left:0;position:absolute;top:2px;width:14px}.smile-gallery-slide p{text-align:left}.smile-gallery-left{width:300px;float:left;margin-right:30px;padding-right:30px;border-right:1px solid rgba(0,0,0,0.1);box-sizing:border-box}.smile-gallery-left img{display:block;width:100%;height:auto;max-width:300px}.smile-gallery-right{overflow:hidden}.smile-gallery-right h3{margin-top:30px}.smile-gallery-right img{display:block;width:49%;height:auto;float:left;margin:0 0 20px 2%}.smile-gallery-right img:first-child{margin-left:0}.slick-dots-holder{text-align:center}.slick-dots-holder ul.slick-dots{margin:0 auto 40px;padding-bottom:10px}.slick-dots-holder ul.slick-dots li{margin-bottom:10px}.slick-dots-holder ul.slick-dots li:before{display: none;}@media all and (max-width: 600px){.smile-gallery-left{width:100%;text-align:center;margin-right:0;padding-right:0;border:0 none}.smile-gallery-left img{float:none;display:inline-block;margin:0}.smile-gallery-right{width:100%;text-align:center}.smile-gallery-right img{display:inline-block;margin:6px !important;width:144px;height:144px;float:none}}@media all and (max-width: 480px){.smile-gallery-right img{display:block;margin:0 0 30px 2% !important;width:49%;height:auto;float:left}.smile-gallery-right img:first-child{margin-left:0 !important}}.sg-cont{*zoom:1}.sg-cont:before,.sg-cont:after{content:" ";display:table}.sg-cont:after{clear:both}.sg-filters{text-align:center;padding:10px 0 30px}.sg-filters a{margin-bottom:10px}.sg-filters a.active{background-color:#003e6e;color:#fff}.sg-grid{*zoom:1}.sg-grid:before,.sg-grid:after{content:" ";display:table}.sg-grid:after{clear:both}.sg-sizer{width:25%}.sg-grid-item{width:25%;padding:6px;box-sizing:border-box;float:left}.sg-patient{border-bottom:4px solid #f5f5f5;display:block;position:relative}.sg-patient img{width:100%;height:auto;display:block}.sg-patient span.excerpt{display:block;padding:20px;margin:0;background-color:#fff;color:#6c7684;font-size:13px;position:relative;z-index:2;box-shadow:0 0 8px rgba(0,0,0,0.1)}.sg-patient span.overlay{display:block;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,62,110,0);z-index:1;transition:background-color .6s}.sg-patient:hover span.overlay{background-color:rgba(0,62,110,0.75)}.sg-lightbox-set{display:inline-block;margin:0 auto;box-shadow:0 0 8px rgba(0,0,0,0.6)}.sg-lightbox-set img{height:50%;width:auto;display:block;margin:0 auto}body.smile-gallery .mfp-content{text-align:center}.custom-mfp-close{position:fixed;top:10px;right:10px;width:60px;height:60px;line-height:60px;text-align:center;padding:0;margin:0;font-size:60px;color:#fff;transition:opacity .3s;background-color:transparent;border:0 none}.custom-mfp-close:hover{opacity:.7}body.smile-gallery .mfp-bottom-bar{display:none}@media all and (max-aspect-ratio: 4 / 5){.sg-lightbox-set{height:auto !important;width:100% !important}.sg-lightbox-set img{height:auto !important;width:100% !important}}@media all and (max-width: 1100px){.sg-sizer,.sg-grid-item{width:33.333%}}@media all and (max-width: 900px){.sg-sizer,.sg-grid-item{width:50%}}@media all and (max-width: 600px){.sg-patient span.excerpt{display:none}.sg-filters a{padding:4px;font-size:10px}}

/* remove checkmarks */
.slick-dots li:before{display: none;} 

/* Get rid of sidr errors visually */
.sidr {
	display: none;
}
